<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 class="page_name">
    Сегодняшние матчи ATP
</h1>
<h1>Список пользователей:</h1>
<ul id="userList"></ul>

<div>
    <div>
        <h2 class="match_name">
            Игры ATP
        </h2>
        <table>
            <tr>
                <th>Match Time</th>
                <th>Match Name</th>
                <th>Match URL</th>
                <th>Player 1</th>
                <th>Player 1 URL</th>
                <th>Player 2</th>
                <th>Player 2 URL</th>
            </tr>

            {% for row in data %}
            <tr>
                <td>data.m_name</td>
                <td>None</td>
                <td>None</td>
                <td>none</td>
                <td>None</td>
                <td>None</td>
                <td>None</td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <div>
        <h2 class="match_name">
            Игры WTA
        </h2>
    </div>
</div>

</body>
</html>